body{
    background-color: #845EC2;    
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
header{
    color: #0dd6dd;
    text-shadow: 2px 2px #252323e1;
    text-align: center;
    margin-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#input_form{
    text-align: center;
}
#input_form > input[type=text]{
    border: none;
    border-radius: 5px;
    width: 200px;
}
#input_form > input[type=submit]{
    border: none;
    border-radius: 5px;
}
input[type=submit]:hover{
    cursor: pointer;
    box-shadow: 2px 2px gray;
    transition: box-shadow .2 ease-in;
}

#result{
    color: white;
    margin-top: 50px;
    width: 400px;   
    background-color: rgb(41, 40, 39);
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(20, 20, 20, 0.247), 0 6px 20px 0 rgba(20, 20, 20, 0.19);
    
}

#result img{
    height: 70px;
    width: 70px;
    border-radius: 4px;
    padding-top: 5px;
    padding-left: 150px;

}

#result p{
    padding-left: 140px;
}
.github{
 color: #bdc91d;
 padding-left: 140px;
 
}
.githubUrl{
    color:rgba(64, 226, 43, 0.705);

}


